/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --header-bg-image: url(..//images/cover-image-light.png);
  --header-title-text-color: #ffc2e6;
  --header-text-bg-color: #ff0070;
  --accent-color: #ff8dcb;
  --header-text-color: #353430;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --content-section-title-color: #353430;
  --footer-title-text-color: #ffc2e6;
  --header-theme-menu-border-color: #353430;
  --header-theme-menu-border-color-transparent: rgba(53, 52, 48, 0.4);
  --header-theme-menu-focus-color: #353430;
  --footer-title-accent-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-bg-image: url(..//images/cover-image-light.png);
    --header-title-text-color: #ffc2e6;
    --header-text-bg-color: #ff0070;
    --accent-color: #ff8dcb;
    --header-text-color: #353430;
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --content-section-title-color: #353430;
    --footer-title-text-color: #ffc2e6;
    --header-theme-menu-border-color: #353430;
    --header-theme-menu-border-color-transparent: rgba(53, 52, 48, 0.4);
    --header-theme-menu-focus-color: #353430;
    --footer-title-accent-color: #ff8dcb;
  }

  .theme-auto .page {
    .rec::before {
      content: "";
    }
  
    .rec::after {
      display: none;
    }

    .rec {
      margin-bottom: 25px;
    }

    @media (width >= 1024px) {
      .footer-title {
        --footer-title-accent-color: #ff0070;
        margin-top: 0px;
      }
    }
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */

  .rec::before {
    content: "";
  }
  .rec::after {
    display: none;
  }

  .header__theme-menu {
    margin-bottom: 0px;
    margin-top: 7px;
  }

  .header-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  
  .title-text {
    margin-bottom: 14px;
  }
  
  @media (width >=768px) {
    .header__theme-menu {
      margin-top: 23px;
      margin-bottom: 0px;
    }

    .title-text {
      margin-bottom: 20px;
    }

    .footer-title {
      margin-top: 10px;
    }
  }

  @media (width >= 1024px) {
    .rec {
      grid-row: 4;
    }

    .header {
      grid-template-rows: auto;
    }

    .header__theme-menu {
      grid-row: 1;
      margin-top: 0px;
      margin-bottom: 128px;
      padding-bottom: 0px;
      padding-top: 20px;
    }

    .header-title {
      margin-top: 80px;
    }

    .title-text {
      margin-bottom: 0px;
      margin-top: 53px;
    }

    .footer-title {
      --footer-title-accent-color: #ff0070;
      margin-top: 0px;
    }
  }
}