/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --header-bg-image: url(..//images/cover-image-light.png);
  --header-title-text-color: #ffc2e6;
  --header-text-bg-color: #ff0070;
  --accent-color: #ff8dcb;
  --header-text-color: #353430;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --content-section-title-color: #353430;
  --footer-title-text-color: #ffc2e6;
  --header-theme-menu-border-color: #353430;
  --header-theme-menu-border-color-transparent: rgba(53, 52, 48, 0.4);
  --header-theme-menu-focus-color: #353430;
  --footer-title-accent-color: #ff8dcb;
}


@media (prefers-color-scheme: light) {
  :root {
    --header-bg-image: url(..//images/cover-image-light.png);
    --header-title-text-color: #ffc2e6;
    --header-text-bg-color: #ff0070;
    --accent-color: #ff8dcb;
    --header-text-color: #353430;
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --content-section-title-color: #353430;
    --footer-title-text-color: #ffc2e6;
    --header-theme-menu-border-color: #353430;
    --header-theme-menu-border-color-transparent: rgba(53, 52, 48, 0.4);
    --header-theme-menu-focus-color: #353430;
    --footer-title-accent-color: #ff8dcb;
  }
  
  .rec {
    visibility: hidden;
  }

  @media (width >= 1024px) {
    .footer-title {
      --footer-title-accent-color: #ff0070;
    }
  }
}


.theme-light .page {

  .rec {
  visibility: hidden;
  }

  @media (width >= 1024px) {
    .footer-title {
      --footer-title-accent-color: #ff0070;
    }
  }
}